@model ViewmMODeElMASTER
@{
	ViewData["Title"] = ResourceWeb.LBMyCustomerMessages;
	Layout = "~/Areas/ClintAccount/Views/Shared/_LayoutClint.cshtml";
}


<div class="col-xs-12">
	<div class="box-content">
		<div class="row">
			<div class="col-lg-6 col-xs-12">
				<div id="accordion-1" class="js__ui_accordion margin-top-20">
					@foreach (var item in Model.ListFAQ)
					{
						<h3 class="accordion-title">@item.FAQ</h3>
						<div class="accordion-content">
							@foreach (var description in Model.ListFAQDescription.OrderByDescending(n => n.IdFAQ).Where(a => a.IdFAQ == item.IdFAQ).ToList())
							{
								<p>@description.Descreption</p>
							}
							<ul>
								@foreach (var list in Model.ListFAQList.OrderByDescending(n => n.IdFAQ).Where(a => a.IdFAQ == item.IdFAQ).ToList())
								{
									<li>@list.ListFAQ</li>
								}
							</ul>
						</div>
					}
				</div>
			</div>
		</div>
		<!-- /.row -->
	</div>
	<!-- /.box-content -->
</div>


@section scripts {
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script src="~/js/custom-scripts.js"></script>
}
