@{
    ViewData["Title"] = "PrepareText";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    .row {
        border: 4px solid black;
    }
</style>

<div class="col-12">
    <div class="row d-flex mb-3">
        <div class="col-2">
            <p><strong>SHIP TO:</strong></p>
        </div>

        <div class="col-10">
            <p><strong>Jane Recipient</strong></p>
            <p>470 Lenfant Plaza SW<br>Washington DC 20024-2124</p>
        </div>
    </div>


    <div class="row d-flex mb-3 justify-content-center">
        <div class="col-12 text-center ">
            <h5>PRIORITY MAIL 2-DAY™</h5>
        </div>
    </div>

    <div class="row d-flex mb-3">
        <div class="col-12">
            <p><strong>SHIP TO:</strong></p>
            <p><strong>Jane Recipient</strong></p>
            <p>470 Lenfant Plaza SW<br>Washington DC 20024-2124</p>
        </div>
    </div>

    <div class="tracking-number row ">
        <div class="col-12">
            <img src="barcode_bottom.png" alt="Bottom Barcode" class="barcode img-fluid">
        </div>
        <p>9405 5118 9956 0896 1445 98</p>
    </div>
</div>
