@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row small-spacing">
	<div class="col-xs-12">
		<div class="box-content">
			<h4 class="box-title">Activity</h4>
		
		
		</div>
		<!-- /.box-content -->
	</div>

	



	

	


	

	</div>



