@model ViewmMODeElMASTER
@inject UserManager<ApplicationUser> userManager
@inject SignInManager<ApplicationUser> signInManager
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@{
    var user = await userManager.GetUserAsync(User);
    var roles = await userManager.GetRolesAsync(user);
    var userRole = roles.FirstOrDefault();
}
<link rel="stylesheet" href="~/css/home.css">

<div class="row small-spacing">
    <div class="col-xs-12" dir="rtl">
        <div class="box-content">
            <div class="row">
                <div class="col-5 col-md-4 col-sm-6 col-xs-12">
                    <a asp-area="Admin" asp-controller="Accounts" asp-action="Registers"  class="box-content-link">
                        <div class="icon-box">
                            <i class="fa fa-user" style="color:cadetblue"></i>
                            <h4>Users Information</h4>
                        </div>
                    </a>
                </div>
                <div class="col-5 col-md-4 col-sm-6 col-xs-12">
                    <a asp-area="Admin" asp-controller="Accounts" asp-action="Roles" asp-route-userId="@user.Id"  class="box-content-link">
                        <div class="icon-box">
                            <i class="fa fa-cog" style="color:black"></i>
                            <h4>Roles</h4>
                        </div>
                    </a>
                </div>
                <div class="col-5 col-md-4 col-sm-6 col-xs-12">
                    <a asp-area="Admin" asp-controller="SettingsView" asp-action="MySetting" class="box-content-link">
                        <div class="icon-box">
                            <i class="fa fa-cog" style="color:deeppink"></i>
                            <h4>Settings</h4>
                        </div>
                    </a>
                </div>
                <div class="col-5 col-md-4 col-sm-6 col-xs-12">
                    <a asp-area="Admin" asp-controller="Merchants" asp-action="AddEditMerchants" asp-route-userId="@user.Id" class="box-content-link">
                        <div class="icon-box">
                            <i class="fa fa-user" style="color:aqua"></i>
                            <h4>Add a Merchants</h4>
                        </div>
                    </a>
                </div>
                <div class="col-5 col-md-4 col-sm-6 col-xs-12">
                    <a asp-area="Admin" asp-controller="WareHouse" asp-action="AddWareHouse" class="box-content-link">
                        <div class="icon-box">
                            <i class="fa fa-shopping-cart"style="color:blueviolet"></i>
                            <h4>Add a main repository</h4>
                        </div>
                    </a>
                </div>
                <div class="col-5 col-md-4 col-sm-6 col-xs-12">
                    <a asp-area="Admin" asp-controller="WareHouseBranch" asp-action="AddWareHouseBranch" class="box-content-link">
                        <div class="icon-box">
                            <i class="fa fa-cart-plus" style="color:blue"></i>
                            <h4>Add sub-repository</h4>
                        </div>
                    </a>
                </div>
                <div class="col-5 col-md-4 col-sm-6 col-xs-12">
                    <a asp-area="Admin" asp-controller="ProductInformation" asp-action="AddEditProductInformation" class="box-content-link">
                        <div class="icon-box">
                            <i class="fa fa-flash" style="color:burlywood"></i>
                            <h4>Product Definition</h4>
                        </div>
                    </a>
                </div>
                <div class="col-5 col-md-4 col-sm-6 col-xs-12">
                    <a asp-area="Admin"asp-controller="Chat"asp-action="Index" class="box-content-link">
                        <div class="icon-box">
                            <i class="fa fa-pencil" style="color:darkkhaki"></i>
                            <h4>Chat</h4>
                        </div>
                    </a>
                </div>
                <div class="col-5 col-md-4 col-sm-6 col-xs-12">
                    <a asp-area="Admin" asp-controller="CustomerMessages" asp-action="MyCustomerMessages" class="box-content-link">
                        <div class="icon-box">
                            <i class="fa fa-envelope" style="color:lightskyblue"></i>
                            <h4>Messages</h4>
                        </div>
                    </a>
                </div>
                <div class="col-5 col-md-4 col-sm-6 col-xs-12">
                    <a asp-area="Admin" asp-controller="SupportTicket" asp-action="AddEditSupportTicket" class="box-content-link">
                        <div class="icon-box">
                            <i class="fa fa-sticky-note-o" style="color:chartreuse"></i>
                            <h4>Support Ticket</h4>
                        </div>
                    </a>
                </div>
               
                <div class="col-5 col-md-4 col-sm-6 col-xs-12">
                    <a asp-area="Admin" asp-controller="Order" asp-action="AddOrder" class="box-content-link">
                        <div class="icon-box">
                            <i class="fa fa-pencil" style="color:chocolate"></i>
                            <h4>Material entry voucher</h4>
                        </div>
                    </a>
                </div>
                <div class="col-5 col-md-4 col-sm-6 col-xs-12">
                    <a asp-area="Admin" asp-controller="ProductInformationlowes" asp-action="AddEditProductInformation" class="box-content-link">
                        <div class="icon-box">
                            <i class="fa fa-flash" style="color:red"></i>
                            <h4>Product Definition lowes</h4>
                        </div>
                    </a>
                </div>
                <div class="col-5 col-md-4 col-sm-6 col-xs-12">
                    <a asp-area="Admin" asp-controller="ProductInformation" asp-action="MYProductInformation" class="box-content-link">
                        <div class="icon-box">
                            <i class="fa fa-group" style="color:chartreuse"></i>
                            <h4>Products</h4>
                        </div>
                    </a>
                </div>
                <div class="col-5 col-md-4 col-sm-6 col-xs-12">
                    <a asp-area="Admin" asp-controller="Merchants" asp-action="MYMerchants" class="box-content-link">
                        <div class="icon-box">
                            <i class="fa fa-users" style="color:burlywood"></i>
                            <h4>Merchants Information</h4>
                        </div>
                    </a>
                </div>
                <div class="col-5 col-md-4 col-sm-6 col-xs-12">
                    <a asp-area="Admin" asp-controller="FAQ" asp-action="MyFAQ" class="box-content-link">
                        <div class="icon-box">
                            <i class="fa fa-question" style="color:red"></i>
                            <h4>My FAQ</h4>
                        </div>
                    </a>
                </div>
                                <div class="col-5 col-md-4 col-sm-6 col-xs-12">
                    <a asp-area="Admin" asp-controller="FAQDescreption" asp-action="AddFAQDescreption" class="box-content-link">
                        <div class="icon-box">
                            <i class="fa fa-question" style="color:aqua "></i>
                            <h4>Add FAQ Description</h4>
                        </div>
                    </a>
                </div>
                <div class="col-5 col-md-4 col-sm-6 col-xs-12">
                    <a asp-area="Admin" asp-controller="FAQList" asp-action="AddFAQList" class="box-content-link">
                        <div class="icon-box">
                            <i class="fa fa-question" style="color:blueviolet"></i>
                            <h4>Add FAQ List</h4>
                        </div>
                    </a>
                </div>
             @*    <div class="col-5 col-md-4 col-sm-6 col-xs-12">
                    <a href="#" class="box-content-link">
                        <div class="icon-box">
                            <i class="fa fa-gift"></i>
                            <h4>Gift Cards</h4>
                        </div>
                    </a>
                </div> *@
               @*  <div class="col-5 col-md-4 col-sm-6 col-xs-12">
                    <a href="#" class="box-content-link">
                        <div class="icon-box">
                            <i class="fa fa-shopping-cart"></i>
                            <h4>Official Store</h4>
                        </div>
                    </a>
                </div> *@
             
              @*   <div class="col-5 col-md-4 col-sm-6 col-xs-12">
                    <a href="#" class="box-content-link">
                        <div class="icon-box">
                            <i class="fa fa-info-circle"></i>
                            <h4>About</h4>
                        </div>
                    </a>
                </div> *@
              @*   <div class="col-5 col-md-4 col-sm-6 col-xs-12">
                    <a href="#" class="box-content-link">
                        <div class="icon-box">
                            <i class="fa fa-life-ring"></i>
                            <h4>Help & Safety</h4>
                        </div>
                    </a>
                </div> *@
            @*     <div class="col-5 col-md-4 col-sm-6 col-xs-12">
                    <a href="#" class="box-content-link">
                        <div class="icon-box">
                            <i class="fa fa-sign-in"></i>
                            <h4>Quick Sign In</h4>
                        </div>
                    </a>
                </div> *@
            </div>
            <div class="logout-button-container">
                <a asp-area="Admin" asp-controller="Accounts" asp-action="Logout1" class="logout-button">Log Out</a>
            </div>
        </div>
    </div>
</div>
